<h3>Welcome to QuarterMaster <%= "#{@user.first_name} #{@user.last_name}" %>,</h3>

<p>Thank you for signing up with QuarterMaster, your one-stop location for renting camping equipment.</p>
<p>If you're a new user, here are some suggested starting points:</p>
<ul>
  <li><a href="https://ib-quartermaster.herokuapp.com/?utf8=%E2%9C%93&search=tent#search_result">Tents</a></li>
  <li><a href="https://ib-quartermaster.herokuapp.com/?utf8=%E2%9C%93&search=sleeping+bag#search_result">Sleeping bags</a></li>
  <li><a href="https://ib-quartermaster.herokuapp.com/?utf8=%E2%9C%93&search=stove#search_result">Stoves</a></li>
</ul>
<p>Happy camping!</p>
<p>The QuarterMaster Team</p>
