.user_name {
  color: $color__theme;
}
.equipment__user--list {
  list-style: none;
  padding: 0;
}
.profile__card--case h4 {
  margin: 0 0 18px 0;
}
.profile__card--text h4 {
  margin: 0;
}
%card--item {
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  align-items: center;
  border-top: 1px solid $color__font--light;
  display: flex;
  height: 130px;
  padding: 12px 0;
  position: relative;
  transition-duration: $duration--sm;
}
.profile__card--your-item {
  @extend %card--item;
}
.profile__card--item {
  @extend %card--item;
  &:last-child {
    border-bottom: 1px solid $color__font--light;
  }
  &:after {
    background-color: $color__theme;
    content: "";
    display: block;
    height: calc(100% + 2px);
    left: 0px;
    opacity: 0;
    position: absolute;
    top: -1px;
    transition-duration: $duration--sm;
    width: 4px;
  }
  &:hover {
    transition-duration: $duration--sm;
    &:after {
      left: -8px;
      opacity: 1;
    }
  }
}
.profile__card--photo {
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  height: 90px;
  position: absolute;
  top: 20px;
  width: 90px;
}
.profile__card--text {
  text-transform: capitalize;
  margin: 0 0 0 108px;
}