
<div class="container">
  <div class="title">  <h1 class="text-center">Equipment</h1></div>
    <div class="row">
    <% @equipment.each do |equipment| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card"
          style"background-color: gray'">
          <div class="card-category"></div>
          <div class="card-description">
            <h3 class="text-center"><%= equipment.name %> <%= equipment.description %></h3>
          </div>
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    <% end %>
  </div>
</div>


