<div class="card">
  <div class="card-header">
    <%= image_tag equipment.photo %>
  </div>
  <div class="card-body">
    <h2><%= equipment.name %></h2>
    <p class="article-content"><%= equipment.description %></p>
  </div>
</div>
