
<div class="banner">
  <div class="banner-content">
    <h1>QuarterMaster</h1>
    <p>Book unique camping gear and experience the outback</p>
    <a class="btn btn-primary btn-lg">Sign Up</a>
  </div>
</div>

<%#= simple_form_for(@equipment) do |f| %> <!-- Needs instance of equipment to work -->
  <%#= f.input :name, placeholder: "&#xf002; Try \"2 person camping tent\"" %>
  <%#= f.submit "Search" %>
<%# end %>

Search form here


<div class="container">
  <div class="row">
    <% @equipment.each do |equipment| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path equipment.photo, height: 400, width: 400, crop: :fill %>');">
            <div class="card-category">Popular</div>
            <div class="card-description">
              <h2>Le Wagon Shanghai</h2>
              <p>Very cool city, the best</p>
            </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <a class="card-link" href="#" ></a>
        </div>
      </div>
    <% end %>
  </div>
</div>






