.banner {
  align-items: center;
  background-image: linear-gradient(-225deg, $color__theme--alpha50 0%, $color__theme--alpha50 50%), image-url("camping-equipment-stock-today-151002-tease_c7fdee384de58767cfca8eb8d8bc3621.jpg");
  background-size: cover !important;
  color: white;
  display: flex;
  height: calc(100vh - 70px);
  justify-content: left;
  padding: 0px 70px 120px;
}

.banner h1 {
  font-size: 114px;
  font-weight: 100;
  letter-spacing: -1.5px;
  margin: 0;
  line-height: 0.8;
}
.banner p {
  font-size: 28px;
  font-weight: 100;
  color: #FFFFFF;
  opacity: 0.75;
  margin: 8px 0 12px 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.5px;
}
