.btn {
  // letter-spacing: 0px;
  // opacity: 0.6;
  background-color: transparent;
  border-radius: 0;
  border: 1px solid $color__theme;
  color: $color__theme;
  font-size: 18px;
  font-weight: lighter;
  margin: 30px 0 0 0;
  padding: 8px 40px 9px;
  transition: $duration--sm;
  &:hover, &:focus, &:active {
    opacity: 1;
    background-color: $color__theme;
    border: 1px solid $color__theme;
    transition: $duration--sm;
  }
}

.custom-facebook-btn {
  display: block;
  padding: 20px 40px;
  margin: 30px 0 0 0;
  background: linear-gradient(#4C69BA, #3B55A0) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  border-radius: 2px;
  color: #FFFFFF;
  cursor: pointer;
  width: 270px;
  text-shadow: 0 -1px 0 #354C8C;
  white-space: nowrap;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Helvetica Neue',Helvetica,Arial,'lucida grande',tahoma,verdana,arial,"hiragino kaku gothic pro",meiryo,"mspgothic",sans-serif;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover, &:focus, &:active {
    color: white;
    opacity: 1;
    background-color: linear-gradient(#4C69BA, #3B55A0) repeat scroll 0 0 rgba(0, 0, 0, 0); 
    border: none;
    transition: $duration--sm;
  }
}
