.card {
  background-position: center;
  background-size: cover !important;
  color: white;
  padding-bottom: 33.3333333%;
  position: relative;
  // text-shadow: 0 0 3px rgba(2, 3, 23, 0.8);
  transition-duration: $duration--md;
  // margin-right: 25px;
  // border: 1px dashed red;
  &:hover {
    .card__overlay {
      opacity: 1;
    }
  }
  &__overlay {
    background-color: $color__theme--alpha75;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition-duration: $duration--lg;
    width: 100%;
    & > div.card__text--container  {
      -webkit-transform: translate(-50%, -50%);
      color: #FFFFFF;
      left: 50%;
      letter-spacing: 0.5px;
      opacity: 1;
      position: absolute;
      text-align: center;
      text-shadow: none;
      text-transform: capitalize;
      top: 50%;
      width: 100%;
      > p {
        margin: 0;
      }
    }
  }
}
.equipment__name {
  font-size: 32px;
}
.equipment__category {
  color: $color__font--light;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.equipment__price {

}
// .card__container > a:nth-child(3) > div.card {
  // margin-right: 0px;
// }