.edit_text {
  color: $color__font--light;
  float: right;
  font-size: 14px;
  margin: 0 0 0 8px;
}
.fa-size--lg {
  font-size: 28px;
  margin: 10px 4px 0 0;
}
a {
  color: inherit;
  &:hover {
    color: $color__theme;
    transition-duration: $duration--sm;
    text-decoration: none;
  }
}
.opacity_99 {
  opacity: 0.99;
}