// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "footer";
@import "banner";
@import "card";
@import "buttons";
@import "fonts";


.dummy-box {
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: center
}